/* @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Archivo+Black&family=Bebas+Neue&family=Lobster&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Archivo+Black&family=Bangers&family=Bebas+Neue&family=Lobster&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 auto;
  user-select: none;
  scroll-behavior: smooth;
}

html{
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #facc15;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e0b508;
}

body {
  cursor: none !important;
  font-family: 'Urbanist', sans-serif;
  overflow-x: hidden;
  background-color: #ffffff;
  background-image:
    linear-gradient(#000000 1px, transparent 1px), 
    linear-gradient(90deg, #000000 1px, transparent 1px),  
    url('./assets/crumpled.jpg');
    ;  
  background-blend-mode: overlay, overlay, multiply;
  background-size: 200px 200px, 200px 200px, contain;

  background-attachment: scroll;
}

a {
  cursor: none !important;
}

.custom-cursor {
  position: fixed;
  pointer-events: none;
  z-index: 1000;
  transform: translate(-50%, -50%);
  transition: transform 2s ease-out;
  transition: transform 0.2s ease-out, width 0.2s, height 0.2s;
  text-shadow: 0px 0px 10px black;
  -webkit-filter: drop-shadow(5px 5px 0px #222);
  filter: drop-shadow(2px 2px 0px #000000);
}

.custom-cursor-div {
  position: fixed;
  pointer-events: none;
  z-index: 1000;
  transform: translate(-50%, -50%) !important;
  transition: transform 2s ease-out;
  transition: transform 0.2s ease-out, width 0.2s, height 0.2s;
}
.custom-cursor.hover {
  width: 48px;
  height: 48px;
}

.overlay-menu ul {
  list-style: none;
  text-align: left;
  padding: 0;
}

.overlay-menu li {
  /* margin: 20px 0; */
  transition: all 0.3s ease;
  padding: 20px 15px;
}

.overlay-menu a,.overlay-menu p {
  /* color: #1f1f1f; */
  letter-spacing: -0.2rem;
  transition: all 0.3s;
}

.overlay-menu a:hover,.overlay-menu p:hover {
  border-radius: 20px;
  padding: 0px 10px;
  letter-spacing: 0rem;
}
.overlay-menu-arrow {
  opacity: 0;
  visibility: hidden;
  display: inline-block;
  margin-left: 10px;
  transform: scale(0.8);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.overlay-menu-item:hover .overlay-menu-arrow {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

@keyframes moveBackground {
  0% {
    background-position: bottom;
    background-size: contain !important;
  }

  100% {
    background-position: top;
    background-size: cover !important;
  }
}

.bg-transition {
  animation: moveBackground 10s alternate infinite;
}

/* styles.css */
.letter {
  display: inline-block;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.fadeInUp {
  opacity: 1;
  transform: translateY(0);
}

.fadeOutDown {
  opacity: 0;
  transform: translateY(20px);
}

.animation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: url('./assets/asset2.png')  no-repeat; */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.service-card {
  position: relative;
  overflow: hidden;
}
.service-card::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  background-color: #fef08a;
  z-index: 0;
  transition: height 0.7s ease-in-out;
}
.service-card:hover::before {
  height: 100%;
}
.service-card:hover .service-title {
  color: white !important;
}
.service-card>* {
  position: relative;
  z-index: 1;
}
.fade-in {
  opacity: 1;
}
.fade-out {
  opacity: 0;
}
.transition-opacity {
  transition: opacity 1s ease-in-out;
}
.slick-track {
  display: flex;
  gap: 20px; /* Adjust the gap to create space between slides */
  transition: transform 0.3s ease; /* Smoother transition */
}
.slick-slide {
  transition: transform 0.3s ease; /* Smoother sliding effect */
}
.spinner-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  position: relative;
  width: 150px;
  height: 150px;
}
.spinner svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: spin 7s linear infinite;
}

.spinner text {
  font-size: 11px;
  fill: #1f1f1f;
  font-weight: bold;
}

.sponge-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}

.sponge-image img {
  width: 100%;
  height: 100%;
  animation: spin-reverse 7s linear infinite;

}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
@keyframes spin-reverse {
  from {
      transform: rotate(360deg);
  }
  to {
      transform: rotate(0deg);
  }
}
 .spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  width: max-content;
  transition: transform 1s ease-in-out;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}
.spinner-container-2 {
  position: absolute;
  right: 100px;
  top:100px;
  height: max-content;
  width: max-content;
  transition: transform 1s ease-in-out;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}
.testimonial-card{
  position: relative;
  overflow: hidden;
}
.testimonial-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/blob.webp');
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(20px) grayscale(80%);
  z-index: -1;
  opacity: 0.5;
}
.lobster{
  font-family: 'lobster' !important;
}
.bangers{
  font-family: 'bangers';
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.payment-option:nth-child(1){
transform: rotate(10deg) !important;
}
.payment-option:nth-child(2){
  transform: rotate(-10deg) !important;
  }
.payment-option:nth-child(3){
  transform: rotate(10deg) !important;
  } 
.payment-option:nth-child(4){
  transform: rotate(-10deg) !important;
  }
.group img:nth-child(even){
  rotate: 10deg;
  z-index: 100 !important;
}
.group img:nth-child(odd){
  rotate: -10deg;
  z-index: 100 !important;
}
.inverted-logo {
  filter: invert(100%);
}



.game-container {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #f0f0f0;
  border: 2px solid #000;
  overflow: hidden;
}

.sponge {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
  cursor: pointer;
}

.bucket {
  position: absolute;
  bottom: 0;
  width: 10%;
  height: 50px;
  background-color: blue;
  transition: left 0.1s linear;
}

.bucket-fill {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: lightblue;
}

.water-drop {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: blue;
  border-radius: 50%;
}

.timer {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  font-weight: bold;
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}
